/*----common----*/
.playfair{font-family: 'Playfair Display', serif;}
.clear::after{
    content: '';
    clear: both;
    display: block;
}


/*----layout----*/

/*----SearchForm----*/
form{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}
form > input{width:500px;border-radius: 40px;padding:10px;}

/*----AppHeader----*/
.header_wrap{
    text-align: center;
    position: absolute;
    left: 0;right: 0;height: 90px;}
.main_logo{position: absolute;top:50%;transform:translate(-50%,-50%);left: 50%;}

/*----router-area----*/
.router-area{padding: 150px 0 300px;}

/*----MovieSearchPage----*/
.search-page{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
}
.select-box{}

/*----MovieListPage----*/
.contents{
    width:90%;
    margin: 0 auto;
    max-width:1200px;
}
.movie-wrapper{}
.movie-wrapper:after{content: ''; clear: both;display: block;}
.movie-wrapper > .movie-list{
    /* background-color: aquamarine; */
    float: left;
    margin: 5px;
    width:calc(25% - 10px);
    height:400px;
}

.movie-wrapper > .movie-list > .poster-wrapper {
    width: 210px;
    height: 300px;
    display: block;
    position: relative;
    overflow: hidden;
}
.movie-wrapper > .movie-list > .poster-wrapper > .desc_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgb(0, 0, 0);
    padding: 10px;
    transition: 0.4s ease-in;
}
.movie-wrapper > .movie-list > .poster-wrapper:hover > .desc_wrap{
    opacity: 0.8; 
}
.movie-wrapper > .movie-list > .poster-wrapper > .desc_wrap > *{
    /* color: #fff; */
    color: #aaaaaa;
    font-size: 14px;
}
.movie-wrapper > .movie-list > .poster-wrapper > .desc_wrap > .desc{
    overflow: hidden;
    z-index: 100;
    height:10.5em;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp:7;
    -webkit-box-orient: vertical;
    display:-webkit-box;
}
.movie-wrapper > .movie-list > .txt-box{
    width:80%;
    margin-top: 10px;
}
.movie-wrapper > .movie-list > .txt-box > .movie-title{
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    white-space: nowrap;
    display: block;
    width:calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.movie-wrapper > .movie-list > .poster-wrapper > img{width: 100%;}
.movie-wrapper > .movie-list > .txt-box >  span{font-size: 11px; 
    color: #666; }
.eng-title{   
    white-space: nowrap;
    display: block;
    width:calc(100% - 80px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-wrapper > .movie-list > .poster-wrapper > .desc_wrap > .more{
    /* border: 1px solid #fff; */
    border:1px solid #696969;
    position: absolute;
    bottom:25px;
    left:50%;
    transform: translateX(-50%);
    padding:5px;
    width:100px;
    display: block;
    text-align: center;
    z-index: 150;
}
.movie-wrapper > .movie-list > .poster-wrapper > .desc_wrap > .more:hover{
    /* background-color: #fff; */
    background-color: #939393;
    opacity: 0.8;
    color: #fff;
}


/*----MovieInfoDetailPage----*/
.detail-page-wrap{width: 100%;}
.detail-page-wrap > .contents > .movie-info{
    width: 100%;
    padding: 10px;
}
.detail-page-wrap > .contents > .movie-info::after{
    content: '';
    clear: both;
    display: block;
}
.detail-page-wrap > .contents > .movie-info > .poster{
    padding: 10px;
    float: left;
    /* width: 30%; */
    overflow: hidden;
    box-shadow:10px 10px 20px 5px grey
}
.detail-page-wrap > .contents > .movie-info > .poster > img{
    width: 100%;
}
.detail-page-wrap > .contents > .movie-info > .summary-area{
    float: left;
    padding:20px;
    /* width: 70%; */
    font-size: 0;
    padding: 10px 0 0 70px;
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .subject > h3{
    font-size: 30px;
    padding: 0;
    padding-bottom:5px;
    margin: 0;
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .subject > .eng-title{color: #666;font-size: 16px;}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary{
    padding-top:30px;
    font-size: 17px;
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .txt-list{padding-bottom: 5px;}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .txt-list > .borderline{
    padding-left: 10px;
    position: relative;
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .txt-list > .nation{
    padding-left: 10px;
    position: relative;
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .txt-list > .nation::before{
    content:'';
    background-color: #cecdcd;
    width: 2px;
    height:12px;
    position: absolute;
    left:2px;
    top:8px;
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .txt-list > .borderline::before{
    content:'';
    background-color: #cecdcd;
    width: 2px;
    height:12px;
    position: absolute;
    left: 5px;
    top:8px;
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .actors-wrap{padding-top: 5px;}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .actors-wrap:after{
    content: '';
    clear: both;
    display: block;
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .actors-wrap > *{float: left;}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .actors-wrap >  ul{padding-left: 5px;}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .actors-wrap >  ul > li{display: inline;}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .actors-wrap >  ul > li > a{
    outline: 0 solid silver;
    transition: outline 0.125s;
    text-decoration-color: darkgray;
    text-decoration: underline;
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .actors-wrap >  ul > li:hover > a{
    /* text-decoration-color: darkgray; */
    background: #ddd;
    /* outline-width: thick; */
    /* outline-color: black; */
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .actors-wrap >  ul > li > a:after{
    content: ', ';
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .actors-wrap >  ul > li:last-child > a:after{
    content: '';
}

.detail-page-wrap > .contents > .movie-info > .summary-area > .summary .hover:hover{
    /* text-decoration: dimgray; */
    /* background-color: dimgray; */
    
}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .min-awards{padding-top:7px}
.detail-page-wrap > .contents > .movie-info > .summary-area > .summary > .min-awards > p {padding-top: 5px;}


.detail-page-wrap > .contents > .detail-area{width: 100%;padding:10px;}
.detail-page-wrap > .contents > .detail-area  h4 {font-size:20px;}
.detail-page-wrap > .contents > .detail-area  .list-more {position: absolute;right:20px;top:30px;}
.detail-page-wrap > .contents > .detail-area .list-more > a{color: #989898;}

.detail-page-wrap > .contents > .detail-area > .movie-plot{margin-top:40px;padding:20px 10px;font-size:17px;}
.detail-page-wrap > .contents > .detail-area > .stills{
    /* background-color: rosybrown; */
    margin-top:50px;
}
.detail-page-wrap > .contents > .detail-area > .stills > ul{
    width: 80%;
    margin:0 auto;
    overflow: hidden;
    height:400px;
}
.detail-page-wrap > .contents > .detail-area > .stills > ul > li{
    float: left;
    position: relative;
    width: 100%;
    
}
.detail-page-wrap > .contents > .detail-area > .stills > ul > li > img{
    width: 100%;
    position:absolute;
}

.detail-page-wrap > .contents > .detail-area > .actors-detail-list{
    margin-top:40px;
    padding: 10px;
    width: 100%;
    position: relative;
    /* border-top: 2px solid rgb(152, 152, 152,0.3); */
}

.detail-page-wrap > .contents > .detail-area > .actors-detail-list > ul{margin-top: 10px;}
.detail-page-wrap > .contents > .detail-area > .actors-detail-list > ul > li{
    float: left;
    width: 50%;
    padding:5px;
}
.detail-page-wrap > .contents > .detail-area > .actors-detail-list > ul > li > a > .kor-nm{
    font-size: 17px;
}
.detail-page-wrap > .contents > .detail-area > .actors-detail-list > ul > li > a > .eng-nm{
    color: #666;
    font-size: 14px;
}
.detail-page-wrap > .contents > .detail-area > .all-awards{
    padding: 10px;
    margin-top:50px;
    position: relative;
}

.detail-page-wrap > .contents > .detail-area > .all-awards > ul {
    margin-top: 15px;
}
.detail-page-wrap > .contents > .detail-area > .all-awards > ul > li {
    margin-top: 5px;
}
.detail-page-wrap > .contents > .detail-area > .keyword { padding: 10px;margin-top: 50px;}
.detail-page-wrap > .contents > .detail-area > .keyword > ul { margin-top:15px;}
/* .similar-contents{background-color: rosybrown;} */
.similar-contents{margin-top: 50px;}
.similar-contents > ul {}
.similar-contents > ul > li{float: left;width:230px;height: 320px;;margin: 5px;overflow: hidden;}
.similar-contents > ul > li > a{}
.similar-contents > ul > li > a > img {width: 100%;height: 100%;}
.sim-title{display:none;}

.movie-list{position: relative;}
.favor-btn{position: absolute;left: 0;}

.favorite-wrap{z-index: 1000;position: absolute;}