#app {
    width: 80%;
    padding:25px 20px 0;
    margin: 0 auto;
    max-width: 1100px;
    /* background-color: palegoldenrod; */
}

h3 {
    color: #FF0558;
    color: #32d8d4;
    font-size:1.5em;
    /* text-shadow: 3px 3px #494949; */
}



.router-area {
    padding-top:30px;
}

/*----------- header ----------*/
.header {
    /* border: 1px solid blue; */
    height: 90px;
    /* padding: 0 20px; */
    /* width: 80%; */
    /* margin: 0 auto; */
    position: relative;
    /* text-align: center; */
}

.header > h1 {
    font-size: 3em;
    display: inline-block;
    margin-right: 20px;
    text-shadow: 3px 3px #444444;
}

.header > h1 > a {
    line-height: 90px;
    font-family: 'Staatliches', cursive;
    /* color: #fff; */
    color: #32d8d4;
}

.header > .favorite-box {
    position: absolute;
    top: 35px;
    right: 30px;
    
}

.header > .favorite-box > a {
    transition: 0.3s;
}

.header > .favorite-box > a:hover {
    color: #32d8d4;
}


/*----------- main ----------*/
.main {
    position: relative;
}

/*----------- weekly-boxOffice ----------*/
.weekly-boxOffice {
    position: absolute;
    right: 0;
    top:30px;
    
}

.weekly-boxOffice > h3 {
    /* font-size: 2em; */
    /* text-shadow: 3px 3px #494949; */
    /* color: #59ecff; */
    font-size: 1.2em;
    
}

.weekly-boxOffice > .boxOffice-slide {
    /* margin-top: 30px; */
    border: 3px solid #fff;
    height: 50px;
    width:400px;
    /* margin:30px auto 0; */
    text-align: left;
    border-radius: 5px;
    /* box-shadow: -7px -6px 0px #535353; */
    position: relative;
    box-shadow: 7px 9px 6px #323232f7;
    overflow: hidden;
    margin-top: 10px;
    box-shadow: 10px 9px 9px 2px #323232bd;

}


.weekly-boxOffice > .boxOffice-slide > ul {
    
}

.weekly-boxOffice > .boxOffice-slide > p {
    color: #fff;
}

.weekly-boxOffice > .boxOffice-slide > ul > li {
    padding:0 20px;
    
}

.weekly-boxOffice > .boxOffice-slide > ul > li:nth-child(1) {
}

.weekly-boxOffice > .boxOffice-slide > ul > li > a {
    line-height: 40px;
    font-size: 1em;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
    display: block;
    transition: 0.3s;
}

.weekly-boxOffice > .boxOffice-slide > ul > li:hover > a {
    color: #32d8d4;
}

.weekly-boxOffice > .boxOffice-slide > ul > li > a > span {
    margin-right: 10px;
    
}

.weekly-boxOffice > .boxOffice-slide > .slide-btn {
    position: absolute;
    right:10px;
    top: 2px;
}

.weekly-boxOffice > .boxOffice-slide > .slide-btn > button {
    display: block;
    padding: 0 5px;
}
.weekly-boxOffice > .boxOffice-slide > .slide-btn > button:hover {
    color: #32d8d4;
}


.weekly-boxOffice > .boxOffice-slide > .slide-btn > .prev {
    margin-top:1px
}
.weekly-boxOffice > .boxOffice-slide > .slide-btn > .next {
    margin-top: -3px;
}





/*----------- movie-search ----------*/
.search-form {
    /* border: 1px solid red; */
    margin-top: 70px;
}

.search-form > h3 {
    /* display: none; */
}

.search-form > form {
    position: relative;
    margin:20px auto 0;
}

.search-form > form > .radio-box {
    /* border: 1px solid red; */
}

.search-form > form > .radio-box > .radio-list {
    display: inline-block;
}

.search-form > form > .radio-box > .radio-list + .radio-list {
    margin-left: 25px;
}

.search-form > form > .radio-box > .radio-list > input[type="radio"] {
    display: none;
}

.search-form > form > .radio-box > .radio-list > input[type="radio"]:checked + label {
    /* color: red; */
    color: #59ecff;
}

.search-form > form > .radio-box > .radio-list > input[type="radio"] + label > span {
    border:3px solid #fff;
    border-radius:100%;
    width: 17px;
    height:17px;
    display: inline-block;
    margin-right: 10px;
    vertical-align:middle;
    cursor: pointer;
    position: relative;

}

.search-form > form > .radio-box > .radio-list > input[type="radio"] + label > span::after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 100%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.search-form > form > .radio-box > .radio-list > input[type="radio"]:checked + label > span::after {
    content: '';
    background-color: #32d8d4;
}


.search-form > form > input {
    border-bottom:3px solid #fff;
    padding: 7px 10px;
    width: 400px;
    font-size: 1.3em;
    margin-top: 40px;
    /* text-align: center; */
}

.search-form > form > input:focus-within {
    border-color:#32d8d4
}

.search-form > form > input::placeholder {
    color: #fff;
}

.search-form > form > input:focus-within::placeholder {
    color: #000;
}

.search-form > form > button {
    font-size: 1.2em;
}


/*----------- genre-select ----------*/
.genre-select {
    margin-top:100px;
}

.genre-select > .genres-btn {
    margin-top: 40px;
}

.genre-select > .genres-btn > button {
    border: 3px solid #fff;
    border-radius:15px;
    padding:10px 20px;
    transition: 0.3s;
    /* box-shadow: 6px -7px #383838; */
}

.genre-select > .genres-btn > button:hover {
    transform: scale(1.15);
    border-color: #32d8d4;
    color: #32d8d4;
    
}

.genre-select > .genres-btn > button + button {
    margin-left: 25px;
}
