/*------ boxOffice-loadingSpinner-------*/
.loading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #32d8d4;
}
  
.loading > i {
    font-size: 1.6em;
    display: inline-block;
    margin-right: 10px;
    animation: loading-icon 0.6s linear 0s infinite alternate;
}
  
@keyframes loading-icon {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 10px;
    }
}