@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* height: 100vh; */
	background-color: #000;
	color: #fff;
	font-family: 'InfinitySans-RegularA1';
	
}

h1{font-weight: lighter;}
h1, h2, h3, h4, h5, h6 {
	/* font-size:1em; */
	font-family: 'Staatliches', cursive;
	font-family: 'Cafe24Ohsquare';
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, 
thead, tbody, tfoot, tr, td, caption,ul {
	margin:0;
	padding:0;
}

input,
select,
textarea {
	border: 0;
	padding: 0;
	margin: 0;
	background: transparent;
	resize: none;
}

ul,li {
    list-style: none;
}

button {
	font-family: inherit;
	font-size: 90%;
	margin: 0;
	cursor: pointer;
	background-color: transparent;
	border: transparent;
	padding: 0;
	font-family: 'InfinitySans-RegularA1';
	font-weight: bold;
	color: #fff;
}


input {
    border:transparent;
	background-color: transparent;
	font-family: 'InfinitySans-RegularA1';
	font-weight: bold;
	color: #fff;
}

button:focus,
input:focus,
select:focus {
	outline: none;
	outline-offset:unset;
}

a{
	text-decoration: none;
	color: #fff;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}
